@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');


$body-color: #f9f4e8;
$btn-1: rgb(234,173,83);
$background: linear-gradient(45deg, rgba(234,173,83,1) 25%, rgba(234,133,98,1) 50%, rgba(234,87,115,1) 70%);
$btn: #4977ea;

body{
  background-color: $body-color;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
h1{
  font-family: "Playfair Display";
}
p{
  color: #6b6a68;
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.container{
  width: 80%;
 
  justify-content: space-between;
  height: 100vh;
  margin:  auto;
  padding: 50px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  

}
.logo{
  display: flex;
  font-size: 2em;
  color: black;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  gap: 15px;



}
.start icon{
  margin-right: 20px;


}
.start a{
  text-decoration: none;
  margin-right: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  

}
.btn-1{
  background: $background;
  border-radius: 20px;
  color: white;
  border: none;
  padding: .6em 1em;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: #6b6a68;
  font-size: 1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
}
.right{
  display: flex;
  align-items: center;
  gap: 20px;

}
.btn{
  background-color: $btn;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 50px;
  font-size: 1rem;
  width: 115px;
}
.d-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;


}

.left-side{
  
width: 46%;

}
.left-side h1{
  font-size: 3rem;
}
.input-flex{
  gap: 20px;
  display: flex;
  flex-direction: row;

}
.input-flex input{
  height: 50px;
  font-size: 1rem;
  width: 115px;
  width: 60%;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 50px;
  cursor: pointer !important;
}

::placeholder{
  padding: 20px;
  color:black;
}
.right-side{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 250px;
  height: 300px; /* Adjust according to your image size */
}
.background-1, .background-2, .background-3 {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover; 
  width: 100%;
  height: 100%;
}
.background-1 {
  background-image: url('./Assets/Blue Shape.svg');
  transform: rotate(-45deg);

}
.background-2 {
  background-image: url('./Assets/Pink Shape.svg');
  transform: rotate(-30deg);
}
.background-3 {
  background-image: url('./Assets/Purple Shape.svg');
  transform: rotate(-10deg);
}
.right-side img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.left-side p{
 display: flex;
 align-items: center;
 gap: 10px;
 
}
.left-side img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.footer ul{
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}
.footer ul li{
  padding: 10px;

}
.talk{
  display: flex;
  gap: 20px;
}
.talk b{
  color: black;
}
